@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

/* ---------------------------- Variables ---------------------------- */

:root {
  --spck-custom-color: #675CE2;
}

/* ---------------------------- CSS reset ---------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Default font family and size (rem) */
html {
  font-family: 'Roboto';
  font-size: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* ---------------------------- Custom styles ---------------------------- */

h2 {
  font-family: 'Montserrat';
  font-size: 2rem;
}

ul.spck-list {
  display: grid;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));

  color: white;
}
ul.spck-list > *:nth-child(5n) {
  grid-column: auto / span 2;
}

li.spck-wrapper {
  position: relative;
  min-height: 400px;
  overflow: hidden;
}

li.spck-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;

  transition: all linear .2s;
}

li.spck-wrapper:hover img,
li.spck-wrapper:focus img {
  filter: blur(3px) brightness(52%);
  transform: scale(1.1);
}

li.spck-wrapper .spck-shop-info {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  
  z-index: 2;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  transition: all linear .2s;
}

li.spck-wrapper:hover .spck-shop-info {
  opacity: 1;
}

li.spck-wrapper .spck-shop-info > *:not(:last-child) {
  margin-bottom: 1rem;
}

li.spck-wrapper button {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

li.spck-wrapper .spck-event-description {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}
