@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

/* ---------------------------- Variables ---------------------------- */

:root {
  --color-accent: #675CE2;
  --color-background: #D9DBD9;
}

/* ---------------------------- CSS reset ---------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Default font family and size (rem) */
html {
  font-family: 'Open Sans';
  font-size: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* ---------------------------- Custom styles ---------------------------- */
body {
  background-color: var(--color-background);
}

h2 {
  font-size: 2rem;
}

#container {
  width: 100vw;
  max-width: 48rem;
  height: 27rem;
  margin: 2rem auto;
}

.spck-list {
  height: 100%;
}

.spck-box {
  height: 100%;
}

.spck-wrapper {
  height: 100%;
  display: flex;
  background-color: #fff;
  padding: .5rem;
  margin: 0 1rem;
  border-radius: .5rem;
}

.spck-wrapper img {
  height: 100%;
  max-width: 40%;
  object-fit: cover;
  margin-right: .5rem;
}

.spck-shop-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.spck-shop-info > * {
  margin-bottom: .5rem;
}

.spck-shop-info > *:last-child {
  margin-top: auto;
  margin-bottom: 0;
  justify-self: flex-end;
}

.spck-event-date {
  opacity: .7;
  font-size: .75rem
}

.spck-wrapper button:not(.spck-ical-button) {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: .5rem;
  position: relative;
}

.spck-wrapper .spck-watch-button {
  color: #fff;
}

.spck-wrapper .spck-timer-review {
  opacity: .8;
  cursor: not-allowed;
}

.spck-ical-button {
  border: 1px solid #fff;
  outline: none;
  width: 3rem;
  height: 3rem;
  color: #fff;
  font-weight: 500;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc(50% - 1.5rem);
  right: 1rem;
}

.spck-timer-block {
  width: 100%;
}

.spck-timer-text-innerHtml {
  font-size: .5rem;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

/* ---------------------------- Slick carousel ---------------------------- */

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: none;
  background-color: var(--color-accent);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;

  transition: all linear .15s;
}

.slick-arrow:hover,
.slick-arrow:active {
  transform: translateY(-50%) scale(1.1);
}

.slick-prev {
  left: -5rem;
}

.slick-next {
  right: -5rem;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-list::before,
.slick-list::after {
  content: '';
  height: 100%;
  width: 1rem;
  position: absolute;
  top: 0;
}

.slick-list::before {
  left: 0;
  background: linear-gradient(to left, transparent, var(--color-background));
  z-index: 1;
}

.slick-list::after {
  right: 0;
  background: linear-gradient(to left , var(--color-background), transparent);
}

/* ---------------------------- Utility classes ---------------------------- */

.spck-u-desktop {
  display: block;
}

.spck-u-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .spck-u-desktop {
    display: none;
  }
  
  .spck-u-mobile {
    display: block;
  }
}