<h1>Welcome at Open Spockee!</h1>

<p>The idea behind this website is to help developers integrating Spockee tags to go deeper with CSS customization thanks to the following samples:</p>

<ul>
	<li><a href="Example%201%20-%20default%20styles/index.html">Default style</a></li>
	<li><a href="Example%202%20-%20grid%20layout/index.html">Grid Layout</a></li>
	<li><a href="Example%203%20-%20carousel/index.html">Carousel</a></li>
</ul>