@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

/* ---------------------------- Variables ---------------------------- */

:root {
  --color-accent: #EB5757;
  --color-grey-dark: #333333;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --image-height: 32.3rem;
  --image-width: 24rem;
  --tile-margin-base: 6rem;
  --tile-margin-offset: 4rem;
}

/* ---------------------------- CSS reset ---------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Default font family and size (rem) */
html {
  font-family: 'Oxygen';
  font-size: 14px;
  color: var(--color-grey-dark)
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* -------------------------- Custom styles ------------------------- */

.spck-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: calc(var(--image-height) + 10rem * 2);
  margin: 0 var(--tile-margin-base);
  counter-reset: list-item;
}

.spck-wrapper {
  position: relative;
  width: var(--image-width);
  height: var(--image-height);
  margin: var(--tile-margin-base);
}

.spck-wrapper::before {
  content: counter(list-item);
  position: absolute;
  top: -1rem;
  left: -1rem;
  transform: translate(-100%, -80%);
  font-size: 5rem;
  color: #F4F5FC;
}

.spck-box:nth-child(2n) .spck-wrapper{
  margin-top: calc(var(--tile-margin-base) + var(--tile-margin-offset));
}

.spck-wrapper img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: -1rem 1rem 0px var(--color-grey-dark);

  transition: filter .2s;
}

.spck-wrapper:hover img {
  opacity: 1;
  filter: brightness(40%);
}

.spck-wrapper button {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  outline: none;
  border: none;
  color: transparent;
  cursor: pointer;
}

.spck-wrapper button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.spck-wrapper button.spck-watch-button {
  background-color: var(--color-accent);
}

.spck-wrapper button.spck-watch-button::after {
  content: '▶';
  color: var(--color-white);
} 

.spck-ical-button {
  background-color: var(--color-black);
}

.spck-ical-button::after {
  content: '📅';
  color: var(--color-white);
}

.spck-event-title {
  position: absolute;
  top: -1rem;
  transform: translateY(-100%);
  width: var(--image-width);
  font-weight: 700;
  font-size: 1.33rem;
  line-height: 1.66rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.spck-event-description {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color-white);
  opacity: 0;

  transition: opacity .2s;
}

.spck-wrapper:hover .spck-event-description {
  opacity: 1;
}

.spck-event-date {
  position: absolute;
  bottom: -4rem;
  right: 0;
  width: var(--image-width);
  text-align: right;
  font-size: 1.25rem;
  font-weight: 400;
}
