@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
  display: flex;
  justify-content: center;
}

#container {
  max-width: 1170px;
}


.spck-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  width: 575px;
  height: 300px;
  margin-top: 30px;
  display: flex;
}

.spck-box-one {
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  padding: 5px;
  width: 575px;
  height: 310px;
  margin: 30px auto;
  display: flex;
}

.spck-list-iframe {
  width: 100%;
  min-height: 100vh;
}

.spck-popup-iframe {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10000;
}

.spck-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 0 !important;
  overflow: hidden;
  position: relative;
}

.spck-shop-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  position: relative;
}

.spck-wrapper {
  width: 100%; 
  max-height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow-y: hidden;
  margin: 0 !important;
}

.spck-party-image {
  max-width: 40% !important;
  width: 100%;
  margin: 0 !important;
}

.spck-watch-button {
  border: none;
  outline: none;
  width: 100%;
  height: 40px !important;
  color: #fff;
  font-family: Poppins;
  font-size: 14px !important;
  font-weight: 500;
  border-radius: 3px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 0 0;
  padding: 0;
  flex-shrink: 0;
}

.spck-ical-button {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px !important;
  font-weight: 500;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
  padding: 0 !important;
}

.spck-timer-text-innerHtml {
  font-size: 7px;
  display: flex;
  column-gap: 10px;
  margin: -4px 8px -4px 0;
  justify-content: space-around;
}

.spck-text-paragraph {
  font-size: 7px !important;
  margin: 0 !important;
}

#cms #center_column .spck-ical-button svg {
  margin-right: 10px;
}

.spck-icon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.spck-icon-calendar {
  background-image: url("../images/calendarIcon.svg");
  height: 20px;
  width: 20px;
  margin-right: unset;
}

.spck-icon-apple {
  background-image: url("../images/appleIcon.svg");
}

.spck-icon-arrow {
  background-image: url("../images/arrowIcon.svg");
  height: 16px;
  width: 16px;
}

.spck-icon-google {
  background-image: url("../images/googleIcon.svg");
}

.spck-icon-outlook {
  background-image: url("../images/outlookIcon.svg");
}

.spck-close-button {
  background: url("../images/cross.svg") no-repeat 50% 50%;
  background-color: transparent;
  position: absolute;
  height: 16px;
  width: 16px;
  margin: 16px;
  right: 0;
  border: 0;
  border-radius: 0;
  padding: 0 !important;
}

/*
.spck-close-button:hover {
  background: url("../images/cross.svg") no-repeat 50% 50%;
} */

.spck-calendarFrame {
  position: fixed;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
  border-radius: 20px;
  display: flex;
  font-family: Poppins;
  z-index: 10;
}

.spck-calendarFrame:before {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vh;
  top: -50vh;
  left: -50vw;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.spck-inner-frame {
  height: 300px;
  max-width: 225px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  margin: unset !important;
}

.spck-ical-right { 
  display: flex;
  flex-direction: column;
  width: inherit;
  background: #FFFFFF;
  border-radius: 0 20px 20px 0;
}

.spck-calendarFrame-text {
  font-size: 22px;
  margin: 40px auto;
  width: 24ch;
  color: #333333;
  text-align: center;
  font-weight: bold;
}

.spck-link-buttons {
  height: 56px;
  background: #FFFFFF;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  color: #333333;
  border-top: 1px solid #FAFAFA;
  border-bottom: 1px solid #FAFAFA;
  display: flex;
  align-items: center;
  outline: transparent;
  text-decoration: none;
  margin: 0 !important;
}

.spck-link-buttons > *:last-child {
  margin: 0 0 0 auto;
}

.spck-link-buttons:hover *:last-child {
  transform: translate(8px, 0);
  transition-duration: 0.5s;
}

.spck-link-buttons:hover {
  background: #FAFAFA;
}

.spck-watch-button.spck-watch-button--loading {
  cursor: not-allowed;
}

.spck-event-description {
  margin: 16px 0 auto !important;
  font-family: Poppins;
  color: #606060;
  font-size: 12px !important;
  text-align: justify;
  max-height: 150px;
  overflow-y: scroll;
}

.spck-event-description::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.spck-timer-block {
  height: 40px !important;
  width: 100% !important;
  color: #333333;
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  flex-shrink: 0;
  border-radius: 3px 0px 0px 3px !important;
  letter-spacing: 0 !important;
}

.spck-timer-review {
  height: 40px;
  width: 100%;
  color: #333333;
  font-family: Poppins;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 3px;
  flex-shrink: 0;
}

.spck-u-mobile {
  display: none;
  margin: unset;
}

.spck-event-date {
  font-family: Poppins;
  font-weight: 400;
  margin: unset !important;
  text-align: left !important;
  padding: 0 !important;
}

.spck-event-title {
  margin: 8px 0 0 !important;
  text-align: left !important;
  font-size: 21px;
  color: #333333;
  font-family: Poppins;
  font-weight: bold;
  line-height: 23px;
}

.spck-event-title-inner {
  font-size: 21px;
  color: #000;
  font-family: Poppins;
  font-weight: bold;
}

.spck-button-paragraph {
  margin: unset !important;
  font-size: 14px!important;
}

.fa {
  padding-right: 15px;
  transform: rotateY(180deg);
}

.lds-ring {
  width: 80px;
  height: 80px;
  left: auto;
  right: auto;
  margin: auto;
}

.lds-ring.small {
  width: 20px;
  height: 20px;
  margin: 0px 4px;
  display: inline;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring.small div {
  width: 16px;
  height: 16px;
  margin: 2px;
  border-width: 2px;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  body {
    overflow: unset !important;
  }

  .spck-container {
    pointer-events: unset;
  }

  .spck-box {
    width: 100%;
    height: auto;
    min-height: 460px;
  }

  .spck-box-one {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 460px;
    max-height: 615px;
  }

  .spck-list {
    margin-top: 0;
  }

  .spck-shop-info {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.7);
    padding: unset;
  }

  .spck-wrapper {
    width: 100%;
    max-height: unset;
    position: relative;
  }

  .spck-party-image {
    height: 100% !important;
    max-width: 100% !important;
  }

  .spck-watch-button {
    position: unset;
    width: calc(100% - 16px) !important;
    margin: 8px auto;
    padding: 0 !important;
  }

  .spck-ical-button {
    position: unset;
    width: calc(100% - 16px);
    margin: 8px auto!important;
    border-radius: 3px;
  }

  .spck-icon-calendar {
    margin-right: 10px;
  }

  .spck-calendarFrame {
    border-radius: unset;
    box-shadow: unset;
    position: absolute;
    bottom: 0;
    top: unset;
    transform: translate(-50%, 0);
    width: inherit;
    height: 168px;
    background: rgba(255, 255, 255, 0.7);
  }

  .spck-link-buttons {
    height: 100%;
    height: -webkit-fill-available;
    border-top: none;
  }

  .spck-link-buttons:hover {
    background: none;
  }

  .spck-link-buttons:hover *:last-child {
    transform: unset;
  }

  .spck-close-button {
    bottom: 168px;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
    margin: unset;
    background-repeat: no-repeat;
    background-position: center;
  }

  .spck-inner-frame, .spck-calendarFrame-text, .spck-calendarFrame:before, .spck-u-desktop, .spck-timer-text-innerHtml {
    display: none;
  }

  .spck-ical-right {
    border-radius: unset;
  }

  .spck-event-date {
    color: #333333;
    padding: 16px 16px 0px !important;
    margin-bottom: 0px;
    text-align: left !important;
  }

  .spck-event-description {
    width: 100%;
    flex-grow: 1;
    margin: unset !important;
    color: #484848;
    max-height: 100px;
    padding: 0 16px !important;
  }

  .spck-timer-block {
    width: 100% !important;
    height: 33px !important;
    margin: 0 auto;
    position: absolute;
    top: 0;    
    left: 0;
    color: #FFFFFF;
  }

  .spck-timer-review {
    width: calc(100% - 16px);
    margin: 8px auto;
  }

  .spck-timer {
    display: inline !important;
  }

  .spck-u-mobile {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    color: #FFFFFF !important;
  }

  .spck-event-title {
    margin: 8px 0 !important;
    padding: 0px 16px !important;
  }

  .spck-event-title-inner {
    font-size: 24px;
    position: absolute;
    top: 290px;
    width: 90%;
    left: 5%;
    text-align: center;
  }
}